/*
plugin Name:    Openbadges for WordPress
plugin URI:     http://appsaloon.be
Description:    xxxxxxxxxxxxxx
Author:         Creeten Mark
Author URI:     http://appsaloon.be
Version:        1.0
*/

@import "front-openbadges";