<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap-wp-mock.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="unittests">
			<directory prefix="test-" suffix=".php">./tests/unit-tests</directory>
			<exclude>./tests/unit-tests/test-open-badge-factory-credentials.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
